/*

# folders
!/gradle
!/src
!/wiki

# files
!/.gitignore
!/README.md
!/CONTRIBUTION.md
!/License.md
!/build.gradle
!/gradlew
!/gradlew.bat
!/gradle.properties
!/update.json
!/CHANGELOG.md
!/EclipseCodeStyle.xml
!/IntelliJIdeaCodeStyle.xml