/*

# folders
!/gradle
!/src

# files
!/.gitignore
!/README.md
!/CONTRIBUTION.md
!/License.md
!/build.gradle
!/settings.gradle
!/gradlew
!/gradlew.bat
!/gradle.properties
!/update.json
!/CHANGELOG.md
!/SPEC.md
!/EclipseCodeStyle.xml
!/IntelliJIdeaCodeStyle.xml